<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalWebApp</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div>
					<a  asp-area="" asp-controller="Home" asp-action="Index">
						<img src="~/images/Logos/logo.png"  class="col-md-2" />
					</a>
                </div>
                
            </div>
        </nav>
    
        <div class="container col-md-8 col-md-offset-2">
            <br />
            <div class="row">
				<div class="input-group">
					<form action="/search" method="get" id="search-form">
						<input type="text" autofocus="true" class="form-control" name="place" placeholder="Hotel, City, Country...">
					</form>
					<span class="input-group-btn">
						<button class="btn btn-info" type="submit" form="search-form">Search</button>
					</span>
				</div>
            </div>
            <br />
            <div class="row col-md-offset-3">
                <span class="col-md-4">
                    <label>Enter date</label>
                    <input id="endDate" class="form-control" type="date" />
                </span>

                <span class="col-md-4">
                    <label>Leave date</label>
                    <input id="startDate" class="form-control" type="date" />
                </span>
            </div>
            <br />
            <div class="row">
                <div class="form-group col-md-offset-5">
                    <button class="btn btn-info" type="button" onclick="showOrHideFeatures()">Try our special search</button>
                </div>
                <br />
                <br />
            </div>

            <div class="col-md-12" id="featuresView" style="display: none">
                @Html.Partial("~/Views/_ViewFeatures.cshtml")
            </div>
            <div class="row">
                <div class="row align-items-start">
                    <a href="~/Users/Register" class="btn btn-success" role="button" >Register</a>
                    <a href="~/Users/Login" class="btn btn-primary" role="button" >Login</a>
               
                </div>
            </div>

            <div id="registerView" style="display: none">
                @Html.Partial("~/Views/Users/RegisterView.cshtml")
            </div>
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <!--<hr />-->
        <footer>
            <!--<p>&copy; 2018 - FinalWebApp</p>-->
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/bootstrap/js/bootstrap.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
