@model IEnumerable<FinalWebApp.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-info">+</a>
</p>

<div class="col-centered">
	<form action="/cities/SearchOrders" id="All-orders"></form>
	<input placeholder="Search all orders in city" name="cityName" type="text" form="All-orders" />
	<button class="btn btn-info" type="submit" form="All-orders" hidden>Search all orders in city</button>
</div>

<table class="table table-info table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
