@model FinalWebApp.Models.Order

@{
    ViewData["Title"] = "SummeryView";
}

<div class="container col-md-8 col-lg-offset-2 summery-view">
    <h4>Order Successfuly saved!</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Order number</td>
                <td>@Html.DisplayFor(model => model.Id)</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>Hotel name</td>
                <td>@Html.DisplayFor(model => model.Hotel.Name)</td>
            </tr>
            <tr>
                <td>Hotel address</td>
                <td>@Html.DisplayFor(model => model.Hotel.Address)</td>
            </tr>
            <tr>
                <td>Check In Date</td>
                <td>@Html.DisplayFor(model => model.CheckInDate)</td>
            </tr>
            <tr>
                <td>Check out date</td>
                <td>@Html.DisplayFor(model => model.CheckOutDate)</td>
            </tr>
        </tbody>
    </table>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2FHolidai-386395071914370%2F%3Fmodal%3Dadmin_todo_tour&layout=button_count&size=large&mobile_iframe=false&appId=431422607399723&width=84&height=28" width="84" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    <button type="button" class="btn btn-info" id="ok-order">OK</button>
</div>