@model IEnumerable<FinalWebApp.Models.User>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-info">+</a>
</p>
<div class="col-centered">
	<form action="/users/index" id="search-user"></form>
	<input placeholder="filter by name" name="userName" type="text" form="search-user"/>
	<button class="btn btn-info" type="submit" form="search-user" hidden>search</button>
</div>
<table class="table table-info table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.City.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Profession)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.FamilyStatus)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Profession)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
